        :root{
            --ikea-blue:#0057AD;
            --ikea-yellow:#FBDA0C;
            --dark-ikea-blue:#17008b;
            --light-ikea-yellow:#f6d76b;
            --link-color:red;
            --link-hover:#45a9ff;
            box-sizing: border-box;
                background-color: red;
        }
