* {
    font-family: "Lucida Console", "Courier New", monospace;
    box-sizing: content-box;
}
header, nav{
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid;
}
img.logo{
    float:left;
}
footer{
    text-align:center;
    padding:10px;
    border-top: 2px solid;
}
header img{
    display: inline;
    width: 50px;
    height: 50px;
}
nav a{
    padding: 5px;
    background-color: #f5f5f5;
    text-align: center;
    display:inline-block;
    border-radius: 20px;
}
nav a:hover{
    transform: translateY(-3px);
    transition: 0.3s
}
a:link{
    color:red;
    transition:0.3s
}
a:hover{
    color:darkred;
    transition: 0.3s;
}
body{
    text-align:center;
}
body img{
    transition: 0.3s;
    border-radius:-20px;
}
body img:hover{
    transform:translateY(-10px);
    transition: 0.3s;
}